dl.saml-certificate-details {
    margin-left: 10px ;
    margin-top: 4px ;
    border: 1px solid #CCCCCC;
    padding: 4px ;
}

dl.saml-certificate-details dt {
    font-weight:900;
    font-size: 95% ;
    margin-right: 10px;
    margin-bottom: 5px;
    float:left;
    clear: left;
}

